<div class="employee-list-container">
  
    <!-- If the employee list is empty -->
    <div *ngIf="employees.length === 0; else employeeList" class="employee-list-body" >
    <div class="wrapper-no-record">
      <div class="no-records-container">
        <img src="assets/images/empty-list.svg" alt="No Records" class="no-records-image" />
      </div>
    </div>
    </div>
  
    <!-- If the employee list is not empty -->
    <ng-template #employeeList>
      <div class="employee-list">

        <div class="current-employees">
            <div class="employee-heading">
                <span>Current employees</span>
            </div>
            <div
            *ngFor="let employee of employees"
            (click)="navigateToEditEmployee(employee)"
            class="employee-item"
            (touchstart)="onTouchStart($event)"
            (touchmove)="onTouchMove($event, employee)"
            (touchend)="onTouchEnd(employee)"
            [style.transform]="employee.translateX ? 'translateX(' + employee.translateX + 'px)' : 'none'"
          >
            <div class="employee-info">
              <h3>{{ employee.name }}</h3>
              <p>{{ employee.role.label }}</p>
              <p>
                {{ employee.startDate }} - {{ employee.endDate }}
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="previous-employees">
            <div class="employee-heading">
                <span>Previous employees</span>
            </div>
            <div *ngFor="let employee of employees" class="employee-item" (swipeleft)="deleteEmployee(employee.id)">
                <div class="employee-info">
                  <h3>{{ employee.name }}</h3>
                  <p>{{ employee.role.label }}</p>
                  <p>
                    {{ employee.startDate  }} - 
                    {{ employee.endDate }}
                  </p>
                </div>
           
              </div>
        </div> -->
      
      </div>
    </ng-template>
  
    <!-- Add Employee Button -->
    <button (click)="navigateToAddEmployee()" class="add-button" aria-label="Add Employee">
      <span>+</span>
    </button>
  </div>
  