<div class="employee-add-container">
  
    <form class="employee-add-form">

      <div class="post-form">

      <div class="form-group">
        <div class="custom-input">
          <img src="assets/icons/person.svg" alt="">
          <input
          id="employeeName"
          type="text"
          placeholder="Employee name"
          [value]="employeeName()"
          (input)="onInput($event)"
        />

        </div>
      </div>
  
      <div class="form-group">
        <app-custom-dropdown
        [roles]="roles"
        [selectedRoleInput]="selectedRole()"
        (roleSelected)="onRoleSelected($event)"
      ></app-custom-dropdown>
      </div>
  
      <div class="form-group date-picker-group">
     
        <div class="date-input" (click)="openDatePicker()">
          <img src="assets/icons/date-picker.svg" alt="Calendar" />
          <span>{{ selectedDate ? (selectedDate | date: 'd MMM y') : 'No Date' }}</span>
        </div>

        <div><img src="assets/icons/right-arrow.svg" alt=""></div>

        <div class="date-input" (click)="openDatePicker()">
          <img src="assets/icons/date-picker.svg" alt="Calendar" />
          <span>{{ selectedDate ? (selectedDate | date: 'd MMM y') : 'No Date' }}</span>
        </div>
      
        <!-- Overlay Date Picker -->
        <div *ngIf="showDatePicker" class="date-picker-overlay">
          <div class="date-picker-wrapper">
            <app-date-picker
              (dateSelected)="onDateSelected($event)"
              (cancelSelection)="closeDatePicker()"
            ></app-date-picker>
          </div>
        </div>

      </div>

     </div>
  
      <div class="form-actions">
        <button (click)="navigateToListEmployee()"  type="button" class="cancel-button" >Cancel</button>
        <button [disabled]="!isFormValid()" (click)="saveEmployee()" type="button" class="save-button">Save</button>
      </div>

    </form>
  </div>
  