.date-picker-container {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 16px;
  font-family: 'Roboto', sans-serif;

  .predefined-buttons {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;
    margin-bottom: 24px;
  
    button {
      flex: 0 0 calc(50% - 8px); /* Two buttons per row with equal width */
      background: #EDF8FF;
      border: none;
      border-radius: 4px;
      padding: 8px 12px;
      color: #1DA1F2;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
  
      &:hover {
        background: #d7eaff;
      }
    }
  }

  .calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;

    button {
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
    }

    span {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;

    .day-label {
      text-align: center;
      font-weight: 400;
      color: #323238;
    }

    .day-cell {
      text-align: center;
      padding: 8px;
      border-radius: 4px;
      color: #323238;
      cursor: pointer;

      &.selected {
        background: #1DA1F2;
        border-radius: 60px;
        color: white;
      }

      &:hover {
        background: #eaf4fe;
      }
    }
  }



  .date-picker-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    .selected-date {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      color: #555;
    }
    div 
    {
      display: flex;
      gap: 16px;
      button {
        background: #1DA1F2;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 12px 16px;
        cursor: pointer;
  
        &:first-child {
          background: #EDF8FF;
          color: #1DA1F2;
        }
      }
    }


  }
}
